#navbar{
    display: flex;
    justify-content: space-around;
}
.playergamedatadiv{
    display: grid;
    grid-template-columns: repeat(3,250px);
   
}
input{
    padding: 8px;
    font-size: 20px;
    margin-top: 10px;
}
#teamgames{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
margin:50px;
}
#serchbtn{
    padding:12px;
}

#prev{
    font-size: 20px;
    padding: 6px;
    margin-top: 50px;
    margin-left: 550px;
}
#next, #page{
    font-size: 20px;
    padding: 6px;
}


